<header class="main-header " style="background-image: url(http://localhost/voyager/public/img/minding-mind3.jpg)">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title">Minding The Mind</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
			<h2 class="page-description">{{setting('site.description')}}</h2>
		</div>
	</div>
	<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
	</header>